body {
   background: blueviolet; 
   font-family: monospace;
   font-size: 20px;
   color: cornsilk;
   margin-top: auto;
   margin-bottom: auto;
  box-sizing: content-box;
  /* all four sides */
  padding: 10px;
}
h1{
    font-family: Lucida;
    font-size: 25px;
    text-align: center;
}
img{
    border-radius: 50%;
}
img + p{
    text-align: center
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.greeting {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{ color: #000; }
    49%{ color: #000; }
    60%{ color: transparent; }
    99%{ color: transparent; }
    100%{ color: #000; }
}
#bio {
    border-radius: 25px;
    background: cornflowerblue;
    color: black;
    font-family: courier;
    text-align: justify;
    padding: 20px;
    width: 500px;
    height: 340px;
    margin: auto;
    width: 50%;
}
footer{
    font-size: small;
    font-family: Arial;
}